.header{
    height: 1000px;
    background-image: url('doctor.png');
    background-repeat: repeat-y;
    background-size: cover;
}
h3{
    font-size: 30px;
    text-decoration: overline;
    font-family: Arial, Helvetica, sans-serif;
} 
/* .second{ */
    /* visibility: hidden; */
    /* display: none; */
/* } */
.blog{
    margin: 40px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 10px goldenrod;
}
.incident {
    border: 2px dotted purple;
     display: inline-block;
}